---
layout: default
---

<div class="page">
      <div class="header">
        <a href="/" id="logo"><img src="/images/logo.png" alt=""/></a>
        <ul id="nav">
          <li>
            <a href="/">首页</a>
          </li>
		  <li>
            <a href="/trends">动态</a>
          </li>
          <li>
            <a href="/intro">简介</a>
          </li>
          <li>
            <a href="/driver">文档</a>
          </li>
          <li>
            <a href="/board">留言</a>
          </li>
        </ul>
      </div>
	  
      <div class="body">
	  
        {{ content }}
		
      </div>
	  
      <div class="footer">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/intro">About</a> 
          </li>
          <li>
            <a href="/trends">Rrends</a>
          </li>
          <li>
            <a href="/driver">Driver</a>
          </li>
        </ul>
        <p>&#169; {{site.copyright}} 
        </p>
        <div class="connect">
          <a href="#" id="facebook">facebook</a>
          <a href="#" id="twitter">twitter</a>
          <a href="http://www.youtube.com/fwtemplates" id="vimeo">vimeo</a>
        </div>
      </div>
    </div>
	
	<script type="text/javascript">
		var ps = window.location.href;
		var pr = /\/(\w+)\/$/.exec(ps);
			var nav,nav_list;
			var nav = document.getElementById("nav"); 
			var nav_list = nav.getElementsByTagName("li");//返回相同的一组元素 
			if(pr!=null){
				for(var i=0;i<nav_list.length;i++){  
				  var url = nav_list[i].getElementsByTagName("a")[0];
				  if(url+"/" == ps)
					nav_list[i].className = "selected";
				}
			}else{
				nav_list[0].className = "selected";
			}
	</script>